html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body,
h1, h2, h3, h4, h5, h6, p,
ul, ol, li, dl, dd,
figure, figcaption,
blockquote {
  margin: 0;
}
ul,
ol {
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  @extend %Rubik-400;
  font-size: 16px;
  color: #243f4d;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  &--large {
    max-width: 1800px;
  }
}
.title {
  @extend %DMSans-700;
  font-size: 36px;
  color: #243f4d;
  &--dark {
    color: #191919;
  }
}
.product-title {
  text-align: center;
  margin-bottom: 24px;
}
.tabs {
  text-align: center;
  @extend %DMSans-700;
   &__item {
     color: #8b8b8b;
     border: none;
     background-color: transparent;
     padding: 0;
     cursor: pointer;
     &:not(:last-child) {
       margin-right: 27px;
     }
  } 
}
.mixitup-control-active {
  color: #191919;
}
.page {
  &__info {
    text-align: center;
    background-color: #edf1f4;
    padding: 27px 0 31px;
  }
  &__title {
    @extend %Rubik-300;
    font-size: 36px;
    color: #222933;
    margin-bottom: 4px;
  }
}
.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    color: rgba(34, 41, 51, 0.6);
    &::after {
      content: '/';
      color: inherit;
      padding: 0 5px;
    }
    &:last-child {
      color: $accent;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    @extend %Rubik-400;
    font-size: 14px;
    color: inherit;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  &__list {
    display: flex;
  }
  &__link,
  &__arrows {
    height: 50px;
    line-height: 48px;
    color: #243f4d;
    border: 1px solid $secondary;
  }
  &__link {
    display: block;
    width: 50px;
    &--active {
      color: #fff;
      background-color: $secondary;
    }
  }
  &__arrows {
    width: 72px;
  }
  &__item + &__item,
  &__list,
  &__arrows--next {
    margin-left: 15px;
  }
}