html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
body,
h1, h2, h3, h4, h5, h6, p,
ul, ol, li, dl, dd,
figure, figcaption,
blockquote {
  margin: 0;
}
ul[class],
ol[class] {
  padding: 0;
}
ul[class] {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  @extend %Rubik-400;
  font-size: 16px;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.container--large {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.title {
  @extend %DMSans-700;
  font-size: 36px;
  color: #191919;
}
.product-title {
  text-align: center;
  margin-bottom: 24px;
}
.tabs {
  text-align: center;
  @extend %DMSans-700;
   &__item {
     color: #8b8b8b;
     border: none;
     background-color: transparent;
     padding: 0;
     cursor: pointer;
     &:not(:last-child) {
       margin-right: 27px;
     }
  } 
}
.mixitup-control-active {
  color: #191919;
}