$accent: #fcd7b6;
$secondary: #a3bbc8;

%DMSans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%DMSans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%DMSans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}
%Rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%Rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%Rubik-700 {
  font-family: 'Rubik-Bold', sans-serif;
  font-weight: 700;
}
%Poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}
%Poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}
%checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function max($numbers...) {
  @return m#{i}n(#{$numbers});
}