@import 'vars';
@import 'fonts';
@import 'global';

// Header

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    margin-left: 34px;
  }
  &__list-link {
    @extend %Rubik-500;
    line-height: 12px;
    font-size: 15px;
    color: #436372;
  }
}
.user-nav {
  display: flex;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link + &__link {
    margin-left: 20px;
  }
  &__link--search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
  }
  &__link--purchases {
    display: flex;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    padding: 9px 0;
  }
  &__link--favorites,
  &__link--cart {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 32px;
  }
  &__link--favorites {
    border-right: 1px solid #fde7d3;
    padding: 0 30px 4px 40px;
  }
  &__link--cart {
    padding: 0 40px 4px 30px;
  }
  &__num {
    position: absolute;
    top: 3px;
    min-width: 16px;
    height: 16px;
    text-align: center;
    @extend %DMSans-400;
    line-height: 16px;
    font-size: 10px;
    color: #243f4d;
    border-radius: 25px;
    background-color: #fff;
    padding: 0 5px;
  }
  &__num--favorites {
    left: 51px;
  }
  &__num--cart {
    left: 41px;
  }
  &__link--menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }
}

// Offer

.slick-list {
  overflow: hidden;
}
.slick-track,
.slick-dots {
  display: flex;
  align-items: center;
}
.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 44px;
  z-index: 1100;
  transform: translateX(-50%);
  li.slick-active button {
    background-color: #fff;
  }
  button {
    width: 29px;
    height: 29px;
    @extend %Rubik-500;
    font-size: 11px;
    color: #243f4d;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    outline: none;
  }
  li + li {
    margin-left: 11px;
  }
}
.slider {
  &__wrapper {
    position: relative;
  }
  &__item {
    min-height: 820px;
    outline: none;
  }
  &__item-inner {
    display: flex;
    justify-content: space-between;
  }
}
.offer {
  &__box {
    margin-top: 220px;
  }
  &__box-title {
    text-transform: uppercase;
    @extend %Rubik-500;
    line-height: 70px;
    font-size: 72px;
    color: #243f4d;
    margin-bottom: 27px;
  }
  &__box-text {
    max-width: 360px;
    line-height: 30px;
    font-size: 18px;
    color: #436372;
    margin-bottom: 35px;
  }
  &__box-btn {
    display: block;
    width: 200px;
    height: 60px;
    @extend %Rubik-500;
    font-size: 15px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 22px 27px;
  }
  &__img {
    position: relative;
    margin-top: 290px;
    &::before {
      content: url(../images/slider_img-bg.png);
      position: absolute;
      top: 50%;
      right: -140px;
      width: 634px;
      height: 634px;
      transform: translateY(-50%);
    }
    img {
      position: relative;
      max-width: 640px;
      z-index: 2;
    }
  }
}
.privilege {
  display: flex;
  &__item {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 170px;
    background-color: #fef7f0;
    &:not(:last-child) {
    border-right: 1px solid #e8e4df;
    }
  }
  &__item-inner {
    display: flex;
    align-items: start;
  }
  &__img {
    margin-right: 20px;
  }
  &__info-title {
    @extend %DMSans-700;
    font-size: 18px;
    color: #414141;
    margin: -5px 0 5px;
  }
  &__info-text {
    max-width: 215px;
    @extend %DMSans-400;
  }
}

// Footer

.footer {
  font-size: 14px;
  color: #7b7b7b;
  &__logo {
    display: block;
    margin-bottom: 25px;
  }
  &__link {
    @extend %Rubik-400;
    line-height: 24px;
    color: #7b7b7b;
  }
  &__link--adress,
  &__link--phone,
  &__link--mail {
    display: block;
    span {
      text-transform: uppercase;
    }
  }
  &__link--adress {
    max-width: 200px;
  }
  &__link--phone,
  &__link--mail {
    margin-top: 10px;
  }
}
.footer-top {
  display: flex;
  padding: 75px 0 70px;
  &__item {
    flex-grow: 1;
    max-width: 300px;
    &:last-child {
      max-width: 270px;
    }
  }
  &__title {
    text-transform: uppercase;
    @extend %DMSans-700;
    line-height: 21px;
    font-size: 16px;
    color: #1f2044;
    padding-top: 17px;
    margin-bottom: 18px;
  }
  &__text {
    line-height: 24px;
    margin-bottom: 32px;
  }
  &__list-item + &__list-item {
    margin-top: 8px;
  }
  &__form {
    display: flex;
  }
  &__form-input {
    width: 170px;
    height: 38px;
    font-size: 12px;
    color: #234969;
    border: none;
    background-color: #fef7f0;
    padding: 5px 15px;
    &::placeholder {
      color: #234969;
    }
  }
  &__form-btn {
    width: 100px;
    height: 38px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    padding: 0;
    cursor: pointer;
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dae4e9;
  padding: 33px 0;
}
.footer-menu {
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 0 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    .footer__link {
      line-height: 16px;
    }
  }
  &__list-item + &__list-item {
    border-left: 1px solid #7b7b7b;
  }
}

@import 'media';