@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';

// Header

.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
  }
}
.menu {
  &__list {
    display: flex;
  }
  &__list-item + &__list-item {
    margin-left: 34px;
  }
  &__list-link {
    @extend %Rubik-500;
    line-height: 12px;
    font-size: 15px;
    color: #436372;
  }
}
.user-nav {
  display: flex;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link + &__link {
    margin-left: 20px;
  }
  &__link--search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
  }
  &__link--purchases {
    display: flex;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    padding: 9px 0;
  }
  &__link--favorites,
  &__link--cart {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 32px;
  }
  &__link--favorites {
    border-right: 1px solid #fde7d3;
    padding: 0 30px 4px 40px;
  }
  &__link--cart {
    padding: 0 40px 4px 30px;
  }
  &__num {
    position: absolute;
    top: 3px;
    min-width: 16px;
    height: 16px;
    text-align: center;
    @extend %DMSans-400;
    line-height: 16px;
    font-size: 10px;
    color: #243f4d;
    border-radius: 25px;
    background-color: #fff;
    padding: 0 5px;
  }
  &__num--favorites {
    left: 51px;
  }
  &__num--cart {
    left: 41px;
  }
  &__link--menu {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }
}

// Offer

.slick-list {
  overflow: hidden;
}
.slick-track,
.slick-dots {
  display: flex;
  align-items: center;
}
.slick-dots {
  position: absolute;
  left: 50%;
  bottom: 44px;
  z-index: 1100;
  transform: translateX(-50%);
  li.slick-active button {
    background-color: #fff;
  }
  button {
    width: 29px;
    height: 29px;
    @extend %Rubik-500;
    font-size: 11px;
    color: #243f4d;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    outline: none;
  }
  li + li {
    margin-left: 11px;
  }
}
.slider {
  &__wrapper {
    position: relative;
  }
  &__item {
    outline: none;
  }
  &__item-inner {
    display: flex;
    justify-content: space-between;
    min-height: 820px;
  }
}
.offer {
  &__box {
    padding: 220px 0;
    max-width: 450px;
  }
  &__box-title {
    text-transform: uppercase;
    @extend %Rubik-500;
    line-height: 70px;
    font-size: 72px;
    color: #243f4d;
    margin-bottom: 27px;
  }
  &__box-text {
    max-width: 360px;
    line-height: 30px;
    font-size: 18px;
    color: #436372;
    margin-bottom: 35px;
  }
  &__box-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 60px;
    @extend %Rubik-500;
    line-height: 12px;
    font-size: 15px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 22px 18px 22px 27px;
    transition: all .5s;
    &--arrow {
      font-size: 24px;
    }
    &:hover {
      background-color: #7392a3;
    }
  }
  &__img {
    align-self: center;
    position: relative;
    &::before {
      content: url(../images/slider-offer/slider_img-bg.png);
      position: absolute;
      top: 50%;
      right: -140px;
      width: 634px;
      height: 634px;
      transform: translateY(-50%);
    }
    img {
      position: relative;
      max-width: 640px;
      max-height: 400px;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
      z-index: 2;
    }
  }
}
.privilege {
  display: flex;
  &__item {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 170px;
    background-color: #fef7f0;
    &:not(:last-child) {
    border-right: 1px solid #e8e4df;
    }
  }
  &__item-inner {
    display: flex;
    align-items: flex-start;
  }
  &__img {
    margin-right: 20px;
  }
  &__info-title {
    @extend %DMSans-700;
    font-size: 18px;
    color: #414141;
    margin: -5px 0 5px;
  }
  &__info-text {
    max-width: 215px;
    @extend %DMSans-400;
  }
}

// Week-Product

.week-product {
  padding-top: 67px;
  &__items {
    display: grid;
    grid-auto-rows: 380px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 37px 30px;
    padding: 80px 0 190px;
  }
  &__item {
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 25px 20px 40px;
    overflow: hidden;
    &:hover {
      .week-product__popup {
        opacity: 1;
      }
    }
  }
  &__img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    object-position: bottom center;
    margin-bottom: 70px;
  }
  &__title {
    @extend %DMSans-500;
    color: #243f4d;
    margin-bottom: 10px;
  }
  &__price {
    @extend %DMSans-700;
    color: #a3bbc8;
  }
  &__popup {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 165px;
    height: 45px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .5s;
    svg {
      fill: #a3bbc8;
    }
    &:hover {
      background-color: #a3bbc8;
      svg {
        fill: #fff;
      }
    }
  }
  &__link + &__link {
    margin-left: 15px;
  }
}
.week-top {
  display: flex;
  justify-content: space-between;
  &__item {
    position: relative;
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    min-height: 390px;
    background-color: #feefe2;
  }
  &__content {
    width: 50%;
    color: #243f4d;
  }
  &__title {
    max-width: 300px;
    @extend %DMSans-700;
    line-height: 32px;
    font-size: 26px;
    margin-bottom: 10px;
  }
  &__text {
    max-width: 300px;
    @extend %Rubik-400;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__img {
    position: absolute;
    left: 13%;
    bottom: 80px;
    max-width: 33%;
    max-height: 420px;
    object-fit: contain;
    object-position: bottom left;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    height: 60px;
    @extend %Rubik-500;
    line-height: 12px;
    font-size: 15px;
    color: #436372;
    border-radius: 5px;
    border: 1px solid #b4c1c7;
    padding: 20px;
    transition: all .5s;
    &--arrow {
      font-size: 24px;
    }
    &:hover {
      color: #fff;
      background-color: #a3bbc8;
    }
  }
}

// New-Product

.new-product {
  padding-top: 90px;
  &__items {
    display: grid;
    grid-auto-rows: 246px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
    padding: 80px 0 115px;
  }
  &__item {
    @extend %DMSans-700;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 30px 35px;
  }
  &__title {
    max-width: 175px;
    font-size: 20px;
    color: #191919;
    margin-bottom: 5px;
  }
  &__status {
    max-width: 170px;
    color: #a3bbc8;
  }
  &__video {
    position: relative;
    min-height: 500px;
  }
  &__video-player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__video-play {
    path:nth-child(2) {
      transition: all .5s;
    }
    &:hover {
      path:nth-child(2) {
        fill: #7392a3;
      }
    }
  }
}

// Blog

.blog {
  padding-top: 110px;
  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 292px;
  }
  &__all-post {
    @extend %DMSans-700;
    color: #262626;
    &::after {
      content: url(../images/icon/all-post.svg);
      padding-left: 17px;
    }
  }
  &__bottom {
    min-height: 435px;
    background-color: #fef7f0;
  }
  &__bottom-wrapper {
    transform: translateY(-250px);
  }
  &__bottom-inner {
    display: flex;
    flex-direction: column;
  }
  &__post-wrapper {
    display: flex;
    margin-bottom: 90px;
  }
  &__post {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    border-radius: 5px;
    overflow: hidden;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    background-color: #fff;
    padding: 33px 30px 30px;
  }
  &__status,
  &__date,
  &__author {
    text-transform: uppercase;
  }
  &__status {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 28px;
    transform: translateY(-50%);
    min-width: 103px;
    min-height: 30px;
    text-align: center;
    @extend %Poppins-700;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
    background-color: #a3bbc8;
    padding: 5px 0;
  }
  &__text {
    flex-grow: 1;
    max-width: 290px;
    @extend %DMSans-500;
    line-height: 22px;
    font-size: 18px;
    color: #262626;
    margin-bottom: 13px;
  }
  &__info {
    display: flex;
    @extend %Rubik-400;
    font-size: 12px;
    color: #222933;
    border-top: 1px solid #e0e0e0;
    padding: 18px 17px 0;
  }
  &__date {
    margin-right: 43px;
  }
}
.partners {
  margin-bottom: -160px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__item + &__item {
    margin-left: 30px;
  }
  &__logo {
    max-height: 80px;
    object-position: center;
  }
}

// Footer

.footer {
  font-size: 14px;
  color: #7b7b7b;
  &__logo {
    display: block;
    margin-bottom: 25px;
  }
  &__link {
    @extend %Rubik-400;
    line-height: 24px;
    color: #7b7b7b;
  }
  &__link--adress,
  &__link--phone,
  &__link--mail {
    display: block;
    span {
      text-transform: uppercase;
    }
  }
  &__link--adress {
    max-width: 200px;
  }
  &__link--phone,
  &__link--mail {
    margin-top: 10px;
  }
}
.footer-top {
  display: flex;
  padding: 81px 0 70px;
  &__item {
    flex-grow: 1;
    max-width: 300px;
    &:last-child {
      max-width: 270px;
    }
  }
  &__title {
    text-transform: uppercase;
    @extend %DMSans-700;
    line-height: 21px;
    font-size: 16px;
    color: #1f2044;
    padding-top: 17px;
    margin-bottom: 18px;
  }
  &__text {
    line-height: 24px;
    margin-bottom: 32px;
  }
  &__list-item + &__list-item {
    margin-top: 8px;
  }
  &__form {
    display: flex;
  }
  &__form-input {
    width: 170px;
    height: 38px;
    font-size: 12px;
    color: #234969;
    border: none;
    background-color: #fef7f0;
    padding: 5px 15px;
    &::placeholder {
      color: #234969;
    }
  }
  &__form-btn {
    width: 100px;
    height: 38px;
    color: #fff;
    border: none;
    background-color: #a3bbc8;
    padding: 0;
    transition: all .5s;
    cursor: pointer;
    &:hover {
      background-color: #7392a3;
    }
  }
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dae4e9;
  padding: 34px 0;
}
.footer-menu {
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 0 15px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    .footer__link {
      line-height: 16px;
    }
  }
  &__list-item + &__list-item {
    border-left: 1px solid #7b7b7b;
  }
}

@import 'media';